* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d3aec;
  height: 96px;
  padding: 0 48px;
}

.logo {
  height: 50px;
}

.container {
  width: 740px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
  background-color: #f7f7f7;
}

.section-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 48px;
}
.sub-title {
  font-size: 36px;
  margin-bottom: 48px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 9px;

  border: none;
  cursor: pointer;

  transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #8d3aec;
  color: #fff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #aa4ff6;
}
